body {
  font-family: 'Montserrat', Sans-Serif;
  background-color: ffffff;
  color: #00202f;
  font-size: 12pt;
  font-weight: 800;
}

ul li {
  list-style: none;
  border: 1px solid green;
}

li {
  display: inline-block;
  margin: auto;
  font-size: 24pt;
}

li .delbtn {
  float: right;
  background:#555555;
  color: #fff;
  font-weight: bold;
}

form {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

form input, form button{
  font-size: 24pt;
}